<form>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nameEmployee" placeholder="Ingrese nombre">
        <label for="nameEmployee">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="lastnameEmployee" placeholder="Ingrese apellido">
        <label for="lastnameEmployee">Apellidos</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="birthdayEmployee" placeholder="Ingrese fecha de nacimiento">
        <label for="birthdayEmployee">Fecha de nacimiento</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phoneEmployee" placeholder="Ingrese número de celular">
        <label for="phoneEmployee">Celular</label>
    </div>
</form>